<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>NotBadBar</title>
    <link rel="stylesheet" href="/visualisation/styles.css" />
    <script type="text/javascript" src="/visualisation/js/waterGlass.js"></script>
    <script type="text/javascript" src="/visualisation/js/roundGlass.js"></script>
    <script type="text/javascript" src="/visualisation/js/shortGlass.js"></script>
    <script type="text/javascript" src="/visualisation/js/tallGlass.js"></script>
</head>

<body class="layout">
<main>{{{body}}}</main>

</body>

</html>
