<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>NotBadBar</title>
    <link rel="stylesheet" href="/visualisation/css/gameStyles.css"/>
    <link rel="stylesheet" href="/visualisation/css/mainStyles.css">
    <link rel="stylesheet" href="/visualisation/css/levelsStyles.css">
    <link rel="stylesheet" href="/visualisation/css/rulesStyles.css">
    <script type="module" src="/visualisation/js/waterGlass.js"></script>
    <script type="module" src="/visualisation/js/roundGlass.js"></script>
    <script type="module" src="/visualisation/js/shortGlass.js"></script>
    <script type="module" src="/visualisation/js/tallGlass.js"></script>
</head>

<body class="layout">
<main>{{{body}}}</main>

</body>

</html>
