<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>NotBadBar</title>
    <link rel="stylesheet" href="/visualisation/styles.css" />
    <script type="text/javascript" src="visualisation/waterGlass.js"></script>
    <script type="text/javascript" src="visualisation/roundGlass.js"></script>
    <script type="text/javascript" src="visualisation/shortGlass.js"></script>
    <script type="text/javascript" src="visualisation/tallGlass.js"></script>
</head>

<body class="layout">
<main>{{{body}}}</main>

<script type="text/javascript" src="visualisation/index.js"></script>

</body>

</html>
