* {
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div {
    border: 1px solid black;
    user-select: none;
}

img {
    pointer-events: none;
    user-select: none;
}

.animate-svg * {
    transition: all 1s ease-in-out;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;  /* если что, надо откатить */
}

.bottom-nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 2vw;
}

.cashbox,
.time-table {
    width: 20%;
    display: flex;
    background-color: #424254;
    border-color: white;
    flex-wrap: wrap;
}

.cashbox {
    justify-content: space-evenly;
}

.time-table {
    justify-content: space-evenly;
}

.stars {
    width: 100%;
    display: flex;
    justify-content: inherit;
    align-items: flex-start;
    border: none;
}

.first-star,
.second-star,
.third-star {
    font-size: 4vw;
    color: lightgrey;
    display: block;
    border: none;
}

.coin-image,
.clock-image {
    display: block;
    width: 25%;
    padding: 0.4vw;
    border: none;
}

.coin-value,
.time-left {
    color: white;
    display: flex;
    align-items: center;
    font-size: 4vw;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.time-left {
    height: 100%;
}

.result-cocktails {
    align-self: center;
    height: 120%;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.order {
    height: 100%;
    width: 22%;
    align-self: center;
    display: flex;
    background-color: black;
    border: 2px solid white;
}

.progress-bar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    border-right: 2px solid white;
}

.moving-progress-bar {
    height: 100%;
    width: 100%;
    background-color: green;
    border: none;
}

.first-order,
.second-order,
.third-order,
.fourth-order {
    width: 7vw;
    height: 12vw;
    display: flex;
}

.first-order > *,
.second-order > *,
.third-order > *,
.fourth-order > * {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.first-order > round-glass,
.second-order > round-glass,
.third-order > round-glass,
.fourth-order > round-glass {
    height: 120%;
}

.table-wrapper {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
}

.table-surface {
    height: 3vw;
    width: 100%;
    background-color: #351330;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

.cocktails-in-progress {
    height: 350%;
    position: absolute;
    bottom: 1vw;
    width: 40%;
    display: flex;
    justify-content: space-between;
    border: none;
}

.first-glass,
.second-glass,
.third-glass,
.fourth-glass {
    height: 100%;
    width: 20%;
    border: none;
    display: flex;
}

#glass:not(.usual-glass) {
    height: 100%;
    width: 100%;
}

.usual-glass {
    height: 80%;
    width: 100%;
    align-self: flex-end;
}

water-glass {
    display: flex;
}

.trash-can {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 15vw;
    width: 10vw;
}

.trash {
    width: 10vw;
    bottom: 30%;
    right: 1%;
    margin: auto;
    border: none;
    position: absolute;
    height: 15vw;
}

.cupboard-wrapper {
    width: 100%;
    background-color: #424254;
    position: relative;
    display: flex;
    flex: 1;
    border: none;
}

.first-cupboard {
    background-image: url('/visualisation/images/Cupboard1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    align-self: center;
    width: 40vw;
    height: 22.5vw;
    margin-left: 6%;
    border: none;
}

.first-shelf1,
.second-shelf2 {
    border: none;
    width: 100%;
    height: 2vw;
    position: absolute;
    bottom: 30%;
}

.bottle {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 6vw;
    height: 12vw;
    bottom: 0.8vw;
    border: none;
}

.Absinthe {
    background-image: url('/visualisation/images/Absinthe.svg');
    left: 3vw;
}

.Aperol {
    background-image: url('/visualisation/images/Aperol.svg');
    left: 8vw;
}

.Blue-Curasao {
    background-image: url('/visualisation/images/BlueCurasao.svg');
    left: 13vw;
}

.Bombay-Sapphire {
    background-image: url('/visualisation/images/BombaySapphire.svg');
    left: 18vw;
}

.Campari {
    background-image: url('/visualisation/images/Campari.svg');
    left: 23vw;
}

.second-shelf1,
.third-shelf2 {
    border: none;
    width: 100%;
    height: 2vw;
    position: absolute;
    bottom: 0;
}

.decoration {
    position: absolute;
    bottom: 0.5vw;
    width: 3.5vw;
    height: 3.5vw;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0;
}

.cherries {
    background-image: url('/visualisation/images/Cherry.svg');
    left: 3vw;
}

.limes {
    background-image: url('/visualisation/images/Lime.svg');
    left: 9vw;
}

.olives {
    background-image: url('/visualisation/images/Olives.svg');
    left: 14.5vw;
}

.strawberries {
    background-image: url('/visualisation/images/Strawberries.svg');
    left: 20vw;
}

.cherry,
.lime,
.olive,
.strawberry {
    visibility: hidden;
}

.glass {
    position: absolute;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.water-glass {
    background-image: url('/visualisation/images/WaterGlass.svg');
    right: 0.5vw;
    height: 5vw;
    width: 4vw;
    bottom: 0.3vw;
}

.stemmed-glass {
    height: 7vw;
    width: 6vw;
    bottom: 0.5vw;
}

.short-glass {
    background-image: url('/visualisation/images/ShortGlass.svg');
    right: 8.5vw;
}

.tall-glass {
    background-image: url('/visualisation/images/TallGlass.svg');
    right: 4vw;
}

.round-glass {
    background-image: url('/visualisation/images/RoundGlass.svg');
    right: -0.5vw;
}

.second-cupboard {
    background-image: url('/visualisation/images/Cupboard2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    align-self: center;
    height: 22.5vw;
    width: 16.875vw;
    margin-left: 8%;
    border: none;
}

.first-shelf2 {
    border: none;
    width: 100%;
    height: 2vw;
    position: absolute;
    top: 25%;
}



.limegreen {
    fill: limegreen;
    stop-color: limegreen;
}

.blue {
    fill: blue;
    stop-color: blue;
}

.lightskyblue {
    fill: lightskyblue;
    stop-color: lightskyblue;
}

.red {
    fill: red;
    stop-color: red;
}

.orange {
    fill: orange;
    stop-color: orange;
}

.visible-topping {
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    background-color: black;
    border-radius: 0.5vw;
    color: white;
    font-size: 4vw;
    font-family: sans-serif;
    padding: 2vw;
    text-align: center;
    z-index: 3;
    visibility: hidden;
}

.progress-information {
    display: flex;
}

.time-money-wrapper {
    width: 45%;
}

.progress-money,
.progress-time {
    display: flex;
    padding-left: 6vw;
}

.progress-money {
    padding-top: 2vw;
}

.progress-time {
    padding-bottom: 2vw;
}

.earned-money,
.total-time {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    font-weight: bold;
}

.earned-money-image,
.total-time-image {
    display: block;
    width: 30%;
    border: none;
}

.progress-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2vw;
    border: none;
}

.progress-star {
    font-size: 8vw;
}

.back-to-levels-button,
.play-again-button {
    padding: 1vw 3vw;
    font-size: 2.5vw;
    background-color: #351330;
    color: white;
    border: 3px solid white;
    border-radius: 0.4vw;
    font-weight: bold;
}

.back-to-levels-button {
    margin-bottom: 1vw;
}

.play-again-button {
    margin-top: 5vw;
    margin-bottom: 2vw;
    padding: 1vw 4.75vw;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    visibility: hidden;
}