<div class="wrapper">
    <div class="cupboard-wrapper">
        <div class="first-cupboard">
            <div class="first-shelf1">
                <div class="bottle Absinthe"></div>
                <div class="bottle Aperol"></div>
                <div class="bottle Blue-Curasao"></div>
                <div class="bottle Bombay-Sapphire"></div>
                <div class="bottle Campari"></div>
            </div>
            <div class="second-shelf1">
                <div class="decoration cherries"></div>
                <div class="decoration limes"></div>
                <div class="decoration olives"></div>
                <div class="decoration strawberries"></div>
            </div>
        </div>
        <div class="second-cupboard">
            <div class="first-shelf2">
                <div class="glass water-glass"></div>
            </div>
            <div class="second-shelf2">
                <div class="glass stemmed-glass short-glass"></div>
                <div class="glass stemmed-glass tall-glass"></div>
                <div class="glass stemmed-glass round-glass"></div>
            </div>
            <div class="third-shelf2">
            </div>
        </div>
    </div>

    <div class="table-wrapper">
        <div class="trash">
            <img class="trash-can" src="/visualisation/images/TrashCan.svg" alt="trash can"/>
        </div>
        <div class="table-surface">
            <div class="cocktails-in-progress">
                <div class="first-glass"></div>
                <div class="second-glass"></div>
                <div class="third-glass"></div>
                <div class="fourth-glass"></div>
            </div>
        </div>
    </div>

    <div class="bottom-nav-bar">
        <div class="cashbox">
            <img class="coin-image" src='/visualisation/images/Coin.svg' alt="Coin">
            <div class="coin-value">0</div>
            <div class="stars">
                <div class="first-star">&#9733;</div>
                <div class="second-star">&#9733;</div>
                <div class="third-star">&#9733;</div>
            </div>
        </div>

        <div class="result-cocktails">
            <div class="order first">
                <div class="progress-bar">
                    <div id="first-progress-bar" class="moving-progress-bar"></div>
                </div>
                <div class="first-order"></div>
            </div>
            <div class="order second">
                <div class="progress-bar">
                    <div id="second-progress-bar" class="moving-progress-bar"></div>
                </div>
                <div class="second-order"></div>
            </div>
            <div class="order third">
                <div class="progress-bar">
                    <div id="third-progress-bar" class="moving-progress-bar"></div>
                </div>
                <div class="third-order"></div>
            </div>
            <div class="order fourth">
                <div class="progress-bar">
                    <div id="fourth-progress-bar" class="moving-progress-bar"></div>
                </div>
                <div class="fourth-order"></div>
            </div>
        </div>

        <div class="time-table">
            <img class="clock-image" src="/visualisation/images/Clock.svg" alt="Clock">
            <div class="time-left">{{barTime}}</div>
        </div>
    </div>

    <div class="modal level-complete-modal">Уровень завершён
        <div class="progress-information">
            <div class="time-money-wrapper">
                <div class="progress-money">
                    <img class="earned-money-image" src='/visualisation/images/Coin.svg' alt="Money">
                    <div class="earned-money">350</div>
                </div>
                <div class="progress-time">
                    <img class="total-time-image" src="/visualisation/images/Clock.svg" alt="Clock">
                    <div class="total-time">2:03</div>
                </div>
            </div>
            <div class="progress-stars">
                <div class="first-star progress-star">&#9733;</div>
                <div class="second-star progress-star">&#9733;</div>
                <div class="third-star progress-star">&#9733;</div>
            </div>
        </div>
        <button class="back-to-levels-button">К выбору уровня</button>
    </div>
    <div class="modal level-lose-modal">Уровень проигран
        <div class="modal-buttons-wrapper">
            <button class="play-again-button">Начать заново</button>
            <button class="back-to-levels-button">К выбору уровня</button>
        </div>
    </div>
    <div class="overlay"></div>

    <script type="module" src="/visualisation/index.js"></script>
    <script type="module" src="/visualisation/js/infrastructureFunctions.js"></script>
    <script type="module" src="/visualisation/js/dragAndDrop.js"></script>
    <script type="module" src="/visualisation/js/requests.js"></script>
    <script type="module" src="/visualisation/js/glassFunctions.js"></script>
</div>