<div class="wrapper-for-levels-screen">
    <button class="back-button">&lt;</button>
    <div class="levels-wrapper">
        <div class="level-wrapper">
            <div class="level">Лёгкий
                <div class="level-time">
                    <img class="time-image" src="/visualisation/images/Clock.svg" alt="Clock">
                    <div class="time">3:00</div>
                </div>
                <div class="level-money">
                    <img class="money-image" src='/visualisation/images/Coin.svg' alt="Money">
                    <div class="money">200</div>
                </div>
                <div class="level-stars">
                    <div class="first-star">&#9733;</div>
                    <div class="second-star">&#9733;</div>
                    <div class="third-star">&#9733;</div>
                </div>
            </div>
            <button class="start-level-button">Начать</button>
        </div>
        <div class="level-wrapper">
            <div class="level">Средний
                <div class="level-time">
                    <img class="time-image" src="/visualisation/images/Clock.svg" alt="Clock">
                    <div class="time">3:00</div>
                </div>
                <div class="level-money">
                    <img class="money-image" src='/visualisation/images/Coin.svg' alt="Money">
                    <div class="money">300</div>
                </div>
                <div class="level-stars">
                    <div class="first-star">&#9733;</div>
                    <div class="second-star">&#9733;</div>
                    <div class="third-star">&#9733;</div>
                </div>
            </div>
            <button class="start-level-button">Начать</button>
        </div>
        <div class="level-wrapper">
            <div class="level">Сложный
                <div class="level-time">
                    <img class="time-image" src="/visualisation/images/Clock.svg" alt="Clock">
                    <div class="time">3:00</div>
                </div>
                <div class="level-money">
                    <img class="money-image" src='/visualisation/images/Coin.svg' alt="Money">
                    <div class="money">400</div>
                </div>
                <div class="level-stars">
                    <div class="first-star">&#9733;</div>
                    <div class="second-star">&#9733;</div>
                    <div class="third-star">&#9733;</div>
                </div>
            </div>
            <button class="start-level-button">Начать</button>
        </div>
    </div>
    <script type="module" src="/visualisation/levels_start.js"></script>
</div>