* {
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div {
    user-select: none;
}

img {
    pointer-events: none;
    user-select: none;
}

.wrapper-for-levels-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    background-color: black;
}

.back-button {
    padding: 0.5vw 1.5vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    color: white;
    background-color: #351330;
    font-size: 4vw;
    border: 1px solid white;
    border-radius: 0.4vw;
    font-weight: bold;
}

.levels-wrapper {
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.level-wrapper {
    width: 30%;
    margin: 1vw;
}

.level {
    padding-top: 1vw;
    margin-bottom: 2vw;
    color: white;
    text-align: center;
    font-size: 3.5vw;
    font-family: sans-serif;
    border: 3px solid white;
    background-color: #351330;
}

.start-level-button {
    width: 100%;
    padding: 1vw;
    font-size: 2.5vw;
    background-color: #351330;
    color: white;
    border: 3px solid white;
    border-radius: 0.4vw;
    font-weight: bold;
}

.level-money,
.level-time {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
}

.level-time {
    margin-top: 2vw;
}

.time-image,
.money-image {
    display: block;
    width: 25%;
    padding: 0.4vw;
    border: none;
}

.money,
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.level-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}